<h1>{{ title }}</h1>
<h2>{{ subtitle }}</h2>
<div>
	<ng-container *ngIf="!loading; else loadingTemplate">
		<form [formGroup]="formGroup">
			<div class="row">
				<ng-container *ngFor="let formElement of form">
					<div [ngSwitch]="formElement.element" class="column">
						<mat-form-field *ngSwitchCase="'input'">
							<mat-label>{{ formElement.display }}</mat-label>
							<input
								matInput
								[formControlName]="formElement.field"
								[placeholder]="formElement.placeholder"
								[type]="formElement.type"
								[min]="formElement.min"
								[max]="formElement.max"
							/>
						</mat-form-field>
						<mat-form-field *ngSwitchCase="'textarea'">
							<mat-label>{{ formElement.display }}</mat-label>
							<textarea
								matInput
								[formControlName]="formElement.field"
								[placeholder]="formElement.placeholder"
								rows="1"
							></textarea>
						</mat-form-field>
						<mat-form-field *ngSwitchCase="'datepicker'">
							<mat-label>{{ formElement.display }}</mat-label>
							<input
								matInput
								[formControlName]="formElement.field"
								[matDatepicker]="picker"
							/>
							<mat-datepicker-toggle
								matSuffix
								[for]="picker"
							></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
						<ng-container *ngSwitchCase="'checkbox'">
							<mat-checkbox [formControlName]="formElement.field">{{
								formElement.display
							}}</mat-checkbox>
						</ng-container>
						<mat-form-field *ngSwitchCase="'select'">
							<mat-select
								(selectionChange)="handleSectorChange($event, formElement)"
								name="sectorId"
								[placeholder]="formElement.placeholder"
								[formControlName]="formElement.field"
							>
								<mat-option
									*ngFor="let option of formElement.options"
									[value]="option.value"
								>
									{{ option.display }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<ng-container *ngSwitchCase="'radio'">
							<mat-radio-group [formControlName]="formElement.field">
								<mat-radio-button
									class="radio-button"
									*ngFor="let option of formElement.options"
									[value]="option.value"
								>
									{{ option.display }}
								</mat-radio-button>
							</mat-radio-group>
						</ng-container>
					</div>
				</ng-container>
			</div>
		</form>
	</ng-container>
</div>
<div layout="row" class="row dialog-actions">
	<div class="flex-center">
		<button
			(click)="close()"
			mat-raised-button
			[disabled]="formGroup.invalid || loading"
		>
			<mat-icon>close</mat-icon>
			Cerrar
		</button>
		<button
			mat-raised-button
			color="primary"
			(click)="onSubmit($event)"
			[disabled]="formGroup.invalid || loading"
		>
			<mat-icon>event_note</mat-icon>
			Guardar
		</button>
	</div>
</div>

<ng-template #loadingTemplate>
	<section class="loading-section">
		<ng-loading></ng-loading>
	</section>
</ng-template>
