@import '~@angular/material/theming';


$xs: "screen and (max-width : 300px)";
$s: "screen and (max-width : 600px)";
$m: "screen and (max-width : 992px)";
$l: "screen and (max-width : 1200px)";

$primary: $mat-blue-grey;
$accent: $mat-orange;

$primary-color: map-get($primary, 500);
$accent-color: map-get($accent, 500);
$normal-color: rgb(41, 115, 162);
$warning-color: rgb(228, 6, 19);
$grey-color: rgb(102, 102, 102);
