<div class="app-loading-mask" id="alm">
    <div>
      <span class="alm__app-name">Toolbox APP</span>
      <div class="alm__progress-bar"><div></div></div>
      <div class="alm__brand-label">Here is where the magic happends</div>
    </div>
  </div>
 